<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mideas.fiolibrary"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.android.hardware.location" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <permission
        android:name="com.viettel.sky.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.viettel.sky.permission.MAPS_RECEIVE" />

    <permission
        android:name="com.viettel.sky.permission.activity"
        android:label="ACTIVITY"
        android:protectionLevel="signature" />
    <permission
        android:name="com.viettel.sky.permission.service"
        android:label="SERVICE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.viettel.sky.permission.broadcast"
        android:label="BROADCAST"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <receiver
            android:name="com.mideas.fio.core.core.broadcast.NetworkReceiver"
            android:label="NetworkChangeReceiver"
            android:permission="com.mideas.fio.common.permission.broadcast">
            <intent-filter android:priority="999">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mideas.fio.core.core.broadcast.ScreenStateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.mideas.fio.core.core.service.IMService"
            android:enabled="true"
            android:permission="com.mideas.fio.core.common.permission.service" />
        <service
            android:name="com.mideas.fio.core.core.service.FetchAddressIntentService"
            android:enabled="true"
            android:permission="com.mideas.fio.common.permission.service" />

        <receiver
            android:name="com.mideas.fio.core.call.viewmodel.manager.CallNotifyAlarm$CallCancelReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Call_Cancelled" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mideas.fio.core.call.viewmodel.manager.CallNotifyAlarm$CallAnswerReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="Call_Answer" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.mideas.fio.view.activity.IncomingCallActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.view.activity.OutgoingCallActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.core.call.view.activity.LoginCallActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/title_activity_login_call"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.mideas.fio.core.core.view.activity.ImageBrowserActivity"
            android:configChanges="keyboard"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="mideas.intent.action.SIMPLE_PICK_SKY" />
                <action android:name="mideas.intent.action.MULTIPLE_PICK_SKY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mideas.fio.view.activity.ChatActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.BaseQR"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.mideas.fio.core.chat.view.activity.ChooseContactActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.core.core.view.activity.SendLocationGoogleActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.core.call.view.activity.SearchHistoryCall"
            android:label="@string/title_activity_search_history_call"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.core.chat.view.activity.SearchContactActivity"
            android:label="@string/title_activity_search_contact"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.core.chat.view.activity.ViewLocationGoogleActivity"
            android:label="@string/title_activity_search_history_call"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.core.chat.view.activity.PreviewImageActivity"
            android:label="@string/title_activity_search_history_call"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.core.chat.view.activity.MapsActivity"
            android:label="@string/title_activity_maps"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.mideas.fio.core.chat.view.activity.AboutAppActivity"
            android:label="@string/setting_other_about_toolbar_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"></activity>
        <activity
            android:name="com.mideas.fio.core.authen.view.activity.LockScreenActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.core.authen.view.activity.ChangePasscodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.core.authen.view.activity.SetPasscodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.core.authen.view.activity.MyQRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.core.authen.view.activity.ScannerQRActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.BaseQR" />

        <activity
            android:name="com.mideas.fio.core.core.view.activity.IntroductionActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.mideas.fio.view.activity.ContactListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.view.activity.CallHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.view.activity.ChatHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.view.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.BaseQR" />
        <activity
            android:name="com.mideas.fio.view.activity.PersonalInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.mideas.fio.view.activity.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
    </application>

</manifest>
